// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


$font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$secondary-font-size: 14px;
$secondary-font-weight: 700;
$font-size: 12px; //alpine adds 1
$header-background-color: #fff;
$foreground-color: #555;
$border-radius: 0;
$border-color: #ddd;
$odd-row-background-color: #fafafa;
$active-color: #4d7496;
$range-selection-background-color: lighten($active-color, 25);
$cell-horizontal-padding: 8px;

.ag-theme-alpine {
  @include ag-theme-alpine((
    alpine-active-color: $active-color,
    range-selection-border-color: $active-color,
    font-family: $font-family,
    font-size: $font-size,
    foreground-color: $foreground-color,

    header-background-color: $header-background-color,
    header-column-separator: true,
    header-column-separator-color: $border-color,
    header-column-resize-handle: false,

    border-radius: $border-radius,
    border-color: $border-color,
    cell-horizontal-border: solid $border-color,
    odd-row-background-color: $odd-row-background-color,
    cell-horizontal-padding: $cell-horizontal-padding
  ));

  // use CSS rules when no theme parameter is available
  .ag-header {
    border-bottom-width: 2px;
    .ag-header-cell {
      .ag-header-cell-text {
        font-size: $secondary-font-size;
        font-weight: $secondary-font-weight;
        white-space: pre-line;
      }
    }
  }

  .ag-overlay-loading-wrapper {
    background-color: rgba(255, 255, 255, 0.667);
    vertical-align: top;
    padding-top: 72px;

    .ag-overlay-loading-center {
      color: $active-color;
      font-size: 30px;
      border: 0;
      box-shadow: none;

      i {
        font-size: 60px;
        margin-bottom: 20px;
      }
    }
  }

  // make checkboxes a smaller
  .ag-checkbox-input-wrapper {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }
}

